# PLAN - PHASE 2

0. [ ] Get the data.
0. [ ] Prepare the data for exploration.
0. [ ] Split the data into train and test sets.
0. [ ] Explore the data.
0. [ ] Do cross-validation with the data.
0. [ ] Code and evaluate several models.
0. [ ] Evaluate out of sample data (test set).

# ENVIRONMENT

In [1]:
import os
import acquire
import prepare
import explore as exp

import pandas as pd
import numpy as np
import scipy as sp
import scipy.stats as stats
import operator

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

import xgboost as xgb

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn import tree

# conda install -c glemaitre imbalanced-learn
from imblearn.ensemble import BalancedBaggingClassifier

# to explode the DataFrames and avoid truncation
# pd.set_option('display.max_rows', 1000)
# pd.set_option('display.max_columns', 500)
# pd.set_option('display.width', 1000)

/usr/local/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

# ACQUISITION

In [2]:
df1 = acquire.read_data('data01.csv')
df2 = acquire.read_data('data02.csv')
df3 = acquire.read_data('data03.csv')
df4 = acquire.read_data('data04.csv')
df5 = acquire.read_data('data05.csv')
df7 = acquire.read_data('data07.csv')

In [3]:
# Specify columns to take from dataframes 1, 2, 3, 4, 5, and 7:


one_cols = ['CASEID',
            'ABUSED',
            'SCRSTATR',
            'LENGTHC1',
            'C1SITUAT',
            'PABUSE',
             ]


two_cols = ['CASEID',
            'D3RCHILT',
           ]

three_cols = ['CASEID',
              'E13PRGNT',
              'N7PREGNT',
              'TOTSUPRT'
             ]

four_cols = ['CASEID',
             'G1NUMBER', 
             'H1JEALUS', 
             'H2LIMIT',
             'H3KNOWNG',
             'J1HIT',
             'J2THROWN',
             'J3PUSH',
             'J4SLAP',
             'J5KICK',
             'J6OBJECT',
             'J7BEAT',
             'J8CHOKE',
             'J9KNIFE',
             'J10GUN',
             'J11SEX',
             'POWER',
             'HARASS',
            ]

five_cols = ['CASEID', 
             'B1AGE',
             'AGEDISP',
             'STDETAI',
            ]

seven_cols = ['CASEID',
              'SAMESEXR',
              'N11DRUGS',
              'N12ALCHL',
              'N13SUHIM',
              'N16CHILD',
              'N17ARRST',
              'N1FRQNCY',
              'N2SVRITY',
              'N3WEAPON',
              'N4CHOKE',
              'N5SEX',
              'N6CONTRL',
              'N8JEALUS',
              'N10CPBLE',
             ]

In [4]:
# drop dataframes down to desired features
df1 = df1[one_cols]
df2 = df2[two_cols]
df3 = df3[three_cols]
df4 = df4[four_cols]
df5 = df5[five_cols]
df7 = df7[seven_cols]

In [5]:
print(df1.shape)
print(df2.shape)
print(df3.shape)
print(df4.shape)
print(df5.shape)
print(df7.shape)

(705, 6)
(705, 2)
(705, 4)
(705, 18)
(705, 4)
(705, 15)

In [6]:
dfa = df1.merge(right=df2, on='CASEID')
dfa = dfa.merge(right=df3, on='CASEID')
dfa = dfa.merge(right=df4, on='CASEID')
dfa = dfa.merge(right=df5, on='CASEID')
dfa = dfa.merge(right=df7, on='CASEID')

In [7]:
dfa.shape

(705, 44)

## _'dfa' : this is the dataframe with the NAW (Not Abused Woman) & AW (Abused Woman) cases._

In [8]:
df6 = acquire.read_data('data06.csv')
# df8 = acquire.read_data('data08.csv') # NO USEFUL COLUMNS
df11 = acquire.read_data('data11.csv')
# df12 = acquire.read_data('data12.csv') # NO USEFUL COLUMNS

In [9]:
print(df6.head())
# print(df8.head())
print(df11.head())
# print(df12.head())

   CASEID  INVIEWN  ABUSED  SAMESEXR  RACER  M4GUN  M5FIRED  M6MSCRRG  \
0  108395        1       1      9999      1      2     9999         2
1  108397        1       1      9999      9      2     9999         2
2  108399        1       1      9999      1      2     9999         2
3  108443        1       1      9999      1      2     9999         2
4  108444        1       1      9999      1      2     9999         2

   M7TIEDUP  M8PRSNT    ...     M40CNSL3  M40CNSL4  M44ADV1  M44ADV2  M44ADV3  \
0         2        2    ...         9999      9999        1     9999     9999
1         2        1    ...         9999      9999        1     9999     9999
2         1        1    ...         9999      9999        2        1     9999
3         2        1    ...         9999      9999       26     9999     9999
4         2        1    ...         9999      9999        1     9999     9999

   M22NOINJ  M22NONED  M22PRIV  M22EMBAR  HELPTYPE
0         1         0        0         0         1
1         1         0        0         0         1
2         0         1        0         0         1
3         2         0        0         0         1
4         0         0        0         0         1

[5 rows x 138 columns]
   CASEID  SEVEREST  SEVERER  TOTINC  TOTINCR  RECENT  RECENTR  RECENTRR  \
0  108395         2        1       1        1      43        3         0
1  108397         4        2       2        2       7        2         0
2  108399         3        2       2        2       3        1         0
3  108443         3        2       1        1     251        5         1
4  108444         1        1       5        3      39        3         0

   THREATS  THREATR    ...     MISCARR  RESTRAIN  CHOKED  CHILD  NDRUNK  \
0        0        0    ...           0         0       0      0       0
1        0        0    ...           0         0       1      0       2
2        0        0    ...           0         1       1      0       0
3        0        0    ...           0         0       1      0       1
4        0        0    ...           0         0       0      0       3

   RDRUNK  BOTHDRUN  NDRUGS  RDRUGS  BOTHDRUG
0       0         0       0       0         0
1       0         0       0       0         0
2       0         0       0       0         0
3       0         0       0       0         0
4       0         0       0       0         0

[5 rows x 33 columns]

In [10]:
# Specify columns to take from dataframes 6 and 11:


six_cols = ['CASEID',
            'M5FIRED',
            'M11HIGH',
            'M35SAFE',
            'M41ILLGL',
            'M42DAGRR',
            'M13TALKR',
            'M32OTHER',
            'M27HOW',
            'M30ARRES',
            'M31HOW',
            'M38ORDER',
           ]

eleven_cols = ['CASEID',
               'SEVERER',
               'TOTINCR',
               'THREATR',
               'SLAPR',
               'PUNCHR',
               'BEATR',
               'UWEAPON',
               'FORCEDR',
               'MISCARR',
               'RESTRAIN',
               'CHOKED',
               'NDRUNK',
               'RDRUNK',
               'BOTHDRUN',
               'NDRUGS',
               'RDRUGS',
               'BOTHDRUG',
              ]

In [11]:
# drop dataframes down to desired features
df6 = df6[six_cols]
df11 = df11[eleven_cols]

In [12]:
print(df6.shape)
print(df11.shape)

(497, 12)
(497, 18)

In [13]:
dfb = df6.merge(right=df11, on='CASEID')

## _'dfb' : this is the dataframe with the AW (Abused Woman) cases_

In [14]:
# df9 & 10 are cases of AW (Abused Woman)
df9 = acquire.read_data('data09.csv')
df10 = acquire.read_data('data10.csv')

# df 13, 14 & 15 are cases of HOMICIDE
df13 = acquire.read_data('data13.csv')
df14 = acquire.read_data('data14.csv')
df15 = acquire.read_data('data15.csv')

# PREPARATION

In [15]:
def missing_values_col(df):
    """
    Thids function returns the total missing values
    and the percent missing values by column.
    """
    null_count = df.isnull().sum()
    null_percentage = (null_count / df.shape[0]) * 100
    empty_count = pd.Series(((df == ' ') | (df == '')).sum())
    empty_percentage = (empty_count / df.shape[0]) * 100
    nan_count = pd.Series(((df == 'nan') | (df == 'NaN')).sum())
    nan_percentage = (nan_count / df.shape[0]) * 100
    return pd.DataFrame({'num_missing': null_count, 'missing_percentage': null_percentage,
                         'num_empty': empty_count, 'empty_percentage': empty_percentage,
                         'nan_count': nan_count, 'nan_percentage': nan_percentage})


def missing_values_row(df):
    """
    Write or use a previously written function to return the
    total missing values and the percent missing values by row.
    """
    null_count = df.isnull().sum(axis=1)
    null_percentage = (null_count / df.shape[1]) * 100
    return pd.DataFrame({'num_missing': null_count, 'percentage': null_percentage})


def handle_missing_threshold(df, prop_required_column = .3, prop_required_row = .9):
    """
    Removes columns and rows whose count of missing values exceeds threshold.
    """
    threshold = int(round(prop_required_column*len(df.index),0))
    df.dropna(axis=1, thresh=threshold, inplace=True)
    threshold = int(round(prop_required_row*len(df.columns),0))
    df.dropna(axis=0, thresh=threshold, inplace=True)
    return df


def count_values(column):
    return df[column].value_counts(dropna=False)

def summarize_data(df):
    
    df_head = df.head()
    print(f'HEAD\n{df_head}', end='\n\n')
   
    df_tail = df.tail()
    print(f'TAIL\n{df_tail}', end='\n\n')

    shape_tuple = df.shape
    print(f'SHAPE: {shape_tuple}', end='\n\n')
    
    df_describe = df.describe()
    print(f'DESCRIPTION\n{df_describe}', end='\n\n')
    
    df.info()
    print(f'INFORMATION')    

    print(f'VALUE COUNTS', end='\n\n')
    for col in df.columns:
        n = df[col].unique().shape[0]
        col_bins = min(n, 10)
        print(f'{col}:')
        if df[col].dtype in ['int64', 'float64'] and n > 10:
            print(df[col].value_counts(bins=col_bins, sort=False, dropna=False))
        else:
            print(df[col].value_counts(dropna=False))
        print('\n')

In [16]:
missing_values_col(dfa)

,num_missing,missing_percentage,num_empty,empty_percentage,nan_count,nan_percentage
CASEID,0,0.0,0,0.0,0,0.0
ABUSED,0,0.0,0,0.0,0,0.0
SCRSTATR,0,0.0,0,0.0,0,0.0
LENGTHC1,0,0.0,0,0.0,0,0.0
C1SITUAT,0,0.0,0,0.0,0,0.0
PABUSE,0,0.0,0,0.0,0,0.0
D3RCHILT,0,0.0,0,0.0,0,0.0
E13PRGNT,0,0.0,0,0.0,0,0.0
N7PREGNT,0,0.0,0,0.0,0,0.0
TOTSUPRT,0,0.0,0,0.0,0,0.0
G1NUMBER,0,0.0,0,0.0,0,0.0
H1JEALUS,0,0.0,0,0.0,0,0.0
H2LIMIT,0,0.0,0,0.0,0,0.0
H3KNOWNG,0,0.0,0,0.0,0,0.0
J1HIT,0,0.0,0,0.0,0,0.0
J2THROWN,0,0.0,0,0.0,0,0.0
J3PUSH,0,0.0,0,0.0,0,0.0
J4SLAP,0,0.0,0,0.0,0,0.0
J5KICK,0,0.0,0,0.0,0,0.0
J6OBJECT,0,0.0,0,0.0,0,0.0
J7BEAT,0,0.0,0,0.0,0,0.0
J8CHOKE,0,0.0,0,0.0,0,0.0
J9KNIFE,0,0.0,0,0.0,0,0.0
J10GUN,0,0.0,0,0.0,0,0.0
J11SEX,0,0.0,0,0.0,0,0.0
POWER,0,0.0,0,0.0,0,0.0
HARASS,0,0.0,0,0.0,0,0.0
B1AGE,0,0.0,0,0.0,0,0.0
AGEDISP,0,0.0,0,0.0,0,0.0
STDETAI,0,0.0,0,0.0,0,0.0
SAMESEXR,0,0.0,0,0.0,0,0.0
N11DRUGS,0,0.0,0,0.0,0,0.0
N12ALCHL,0,0.0,0,0.0,0,0.0
N13SUHIM,0,0.0,0,0.0,0,0.0
N16CHILD,0,0.0,0,0.0,0,0.0
N17ARRST,0,0.0,0,0.0,0,0.0
N1FRQNCY,0,0.0,0,0.0,0,0.0
N2SVRITY,0,0.0,0,0.0,0,0.0
N3WEAPON,0,0.0,0,0.0,0,0.0
N4CHOKE,0,0.0,0,0.0,0,0.0
N5SEX,0,0.0,0,0.0,0,0.0
N6CONTRL,0,0.0,0,0.0,0,0.0
N8JEALUS,0,0.0,0,0.0,0,0.0
N10CPBLE,0,0.0,0,0.0,0,0.0

In [17]:
missing_values_col(dfb)

,num_missing,missing_percentage,num_empty,empty_percentage,nan_count,nan_percentage
CASEID,0,0.0,0,0.0,0,0.0
M5FIRED,0,0.0,0,0.0,0,0.0
M11HIGH,0,0.0,0,0.0,0,0.0
M35SAFE,0,0.0,0,0.0,0,0.0
M41ILLGL,0,0.0,0,0.0,0,0.0
M42DAGRR,0,0.0,0,0.0,0,0.0
M13TALKR,0,0.0,0,0.0,0,0.0
M32OTHER,0,0.0,0,0.0,0,0.0
M27HOW,0,0.0,0,0.0,0,0.0
M30ARRES,0,0.0,0,0.0,0,0.0
M31HOW,0,0.0,0,0.0,0,0.0
M38ORDER,0,0.0,0,0.0,0,0.0
SEVERER,0,0.0,0,0.0,0,0.0
TOTINCR,0,0.0,0,0.0,0,0.0
THREATR,0,0.0,0,0.0,0,0.0
SLAPR,0,0.0,0,0.0,0,0.0
PUNCHR,0,0.0,0,0.0,0,0.0
BEATR,0,0.0,0,0.0,0,0.0
UWEAPON,0,0.0,0,0.0,0,0.0
FORCEDR,0,0.0,0,0.0,0,0.0
MISCARR,0,0.0,0,0.0,0,0.0
RESTRAIN,0,0.0,0,0.0,0,0.0
CHOKED,0,0.0,0,0.0,0,0.0
NDRUNK,0,0.0,0,0.0,0,0.0
RDRUNK,0,0.0,0,0.0,0,0.0
BOTHDRUN,0,0.0,0,0.0,0,0.0
NDRUGS,0,0.0,0,0.0,0,0.0
RDRUGS,0,0.0,0,0.0,0,0.0
BOTHDRUG,0,0.0,0,0.0,0,0.0

In [18]:
missing_values_row(dfa)

     num_missing  percentage
0              0         0.0
1              0         0.0
2              0         0.0
3              0         0.0
4              0         0.0
5              0         0.0
6              0         0.0
7              0         0.0
8              0         0.0
9              0         0.0
10             0         0.0
11             0         0.0
12             0         0.0
13             0         0.0
14             0         0.0
15             0         0.0
16             0         0.0
17             0         0.0
18             0         0.0
19             0         0.0
20             0         0.0
21             0         0.0
22             0         0.0
23             0         0.0
24             0         0.0
25             0         0.0
26             0         0.0
27             0         0.0
28             0         0.0
29             0         0.0
..           ...         ...
675            0         0.0
676            0         0.0
677            0         0.0
678            0         0.0
679            0         0.0
680            0         0.0
681            0         0.0
682            0         0.0
683            0         0.0
684            0         0.0
685            0         0.0
686            0         0.0
687            0         0.0
688            0         0.0
689            0         0.0
690            0         0.0
691            0         0.0
692            0         0.0
693            0         0.0
694            0         0.0
695            0         0.0
696            0         0.0
697            0         0.0
698            0         0.0
699            0         0.0
700            0         0.0
701            0         0.0
702            0         0.0
703            0         0.0
704            0         0.0

[705 rows x 2 columns]

In [19]:
missing_values_row(dfb)

     num_missing  percentage
0              0         0.0
1              0         0.0
2              0         0.0
3              0         0.0
4              0         0.0
5              0         0.0
6              0         0.0
7              0         0.0
8              0         0.0
9              0         0.0
10             0         0.0
11             0         0.0
12             0         0.0
13             0         0.0
14             0         0.0
15             0         0.0
16             0         0.0
17             0         0.0
18             0         0.0
19             0         0.0
20             0         0.0
21             0         0.0
22             0         0.0
23             0         0.0
24             0         0.0
25             0         0.0
26             0         0.0
27             0         0.0
28             0         0.0
29             0         0.0
..           ...         ...
467            0         0.0
468            0         0.0
469            0         0.0
470            0         0.0
471            0         0.0
472            0         0.0
473            0         0.0
474            0         0.0
475            0         0.0
476            0         0.0
477            0         0.0
478            0         0.0
479            0         0.0
480            0         0.0
481            0         0.0
482            0         0.0
483            0         0.0
484            0         0.0
485            0         0.0
486            0         0.0
487            0         0.0
488            0         0.0
489            0         0.0
490            0         0.0
491            0         0.0
492            0         0.0
493            0         0.0
494            0         0.0
495            0         0.0
496            0         0.0

[497 rows x 2 columns]

In [20]:
summarize_data(dfa)

HEAD
   CASEID  ABUSED  SCRSTATR  LENGTHC1  C1SITUAT  PABUSE  D3RCHILT  E13PRGNT  \
0  108395       1         1         1         1       1         1         3
1  108397       1         1         2         1       1         0         3
2  108399       1         1         5         1       1         6         3
3  108443       1         1         2         1       1         0         1
4  108444       1         1         2         1       1         1         2

   N7PREGNT  TOTSUPRT    ...     N16CHILD  N17ARRST  N1FRQNCY  N2SVRITY  \
0         2         9    ...            2         2         2         2
1         3        11    ...            2         1         2         1
2         2         9    ...            2         2         2         2
3         2        12    ...            2         1         2         2
4         2        11    ...            2         1         1         1

   N3WEAPON  N4CHOKE  N5SEX  N6CONTRL  N8JEALUS  N10CPBLE
0         2        2      2         2         2         2
1         1        1      1         2         1         1
2         2        1      2         2         2         2
3         1        1      2         1         2         2
4         2        2      2         2         2         2

[5 rows x 44 columns]

TAIL
     CASEID  ABUSED  SCRSTATR  LENGTHC1  C1SITUAT  PABUSE  D3RCHILT  E13PRGNT  \
700  809675       2         2         5         9       9         4         3
701  908001       1         1         3         1       1         1         2
702  908003       1         1         4         1       1        12       999
703  909002       2         3         5         9       9         3         3
704  909004       2         1         4         9       9         3         1

     N7PREGNT  TOTSUPRT    ...     N16CHILD  N17ARRST  N1FRQNCY  N2SVRITY  \
700         9         6    ...            2         2         3         3
701       999       999    ...          999       999       999       999
702       999       999    ...          999       999       999       999
703         9         9    ...          999       999         3         3
704         9        11    ...            2         2         3         3

     N3WEAPON  N4CHOKE  N5SEX  N6CONTRL  N8JEALUS  N10CPBLE
700         3        3      3         3         3         3
701       999      999    999       999       999       999
702       999      999    999       999       999       999
703       999      999    999       999       999       999
704      9999     9999   9999       999       999      9999

[5 rows x 44 columns]

SHAPE: (705, 44)

DESCRIPTION
              CASEID      ABUSED    SCRSTATR    LENGTHC1    C1SITUAT  \
count     705.000000  705.000000  705.000000  705.000000  705.000000
mean   381725.114894    1.295035   25.558865    3.144681    3.638298
std    199126.823457    0.456382  153.127592    1.680961    3.537294
min    108395.000000    1.000000    1.000000    1.000000    1.000000
25%    308008.000000    1.000000    1.000000    2.000000    1.000000
50%    309154.000000    1.000000    1.000000    3.000000    1.000000
75%    508546.000000    2.000000    2.000000    5.000000    9.000000
max    909004.000000    2.000000  999.000000    6.000000    9.000000

           PABUSE    D3RCHILT    E13PRGNT    N7PREGNT    TOTSUPRT  \
count  705.000000  705.000000  705.000000  705.000000  705.000000
mean     3.415603    5.710638   18.146099   19.350355   11.702128
std      3.624653   62.239719  118.368202  117.739917   52.787436
min      1.000000    0.000000    1.000000    1.000000    0.000000
25%      1.000000    0.000000    2.000000    2.000000    7.000000
50%      1.000000    1.000000    3.000000    2.000000   10.000000
75%      9.000000    2.000000    3.000000    9.000000   11.000000
max      9.000000  999.000000  999.000000  999.000000  999.000000

          ...         N16CHILD    N17ARRST    N1FRQNCY    N2SVRITY  \
count     ...       705.000000  705.000000  705.000000  705.000000
mean      ...        43.432624   51.740426   13.188652   13.182979
std       ...       190.624568  208.290783  104.277792  104.278428
min       ...         1.000000    1.000000    1.000000    1.000000
25%       ...         2.000000    1.000000    1.000000    1.000000
50%       ...         2.000000    1.000000    2.000000    2.000000
75%       ...         2.000000    2.000000    3.000000    3.000000
max       ...       999.000000  999.000000  999.000000  999.000000

          N3WEAPON      N4CHOKE        N5SEX    N6CONTRL    N8JEALUS  \
count   705.000000   705.000000   705.000000  705.000000  705.000000
mean     28.934752    27.392908    28.731915   14.588652   17.103546
std     392.354155   390.654274   391.989586  112.024644  121.284294
min       1.000000     1.000000     1.000000    1.000000    1.000000
25%       1.000000     1.000000     1.000000    1.000000    1.000000
50%       2.000000     2.000000     2.000000    2.000000    2.000000
75%       3.000000     3.000000     3.000000    3.000000    3.000000
max    9999.000000  9999.000000  9999.000000  999.000000  999.000000

          N10CPBLE
count   705.000000
mean     56.320567
std     419.461220
min       1.000000
25%       1.000000
50%       2.000000
75%       3.000000
max    9999.000000

[8 rows x 44 columns]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 705 entries, 0 to 704
Data columns (total 44 columns):
CASEID      705 non-null int64
ABUSED      705 non-null int64
SCRSTATR    705 non-null int64
LENGTHC1    705 non-null int64
C1SITUAT    705 non-null int64
PABUSE      705 non-null int64
D3RCHILT    705 non-null int64
E13PRGNT    705 non-null int64
N7PREGNT    705 non-null int64
TOTSUPRT    705 non-null int64
G1NUMBER    705 non-null int64
H1JEALUS    705 non-null int64
H2LIMIT     705 non-null int64
H3KNOWNG    705 non-null int64
J1HIT       705 non-null int64
J2THROWN    705 non-null int64
J3PUSH      705 non-null int64
J4SLAP      705 non-null int64
J5KICK      705 non-null int64
J6OBJECT    705 non-null int64
J7BEAT      705 non-null int64
J8CHOKE     705 non-null int64
J9KNIFE     705 non-null int64
J10GUN      705 non-null int64
J11SEX      705 non-null int64
POWER       705 non-null int64
HARASS      705 non-null int64
B1AGE       705 non-null int64
AGEDISP     705 non-null int64
STDETAI     705 non-null int64
SAMESEXR    705 non-null int64
N11DRUGS    705 non-null int64
N12ALCHL    705 non-null int64
N13SUHIM    705 non-null int64
N16CHILD    705 non-null int64
N17ARRST    705 non-null int64
N1FRQNCY    705 non-null int64
N2SVRITY    705 non-null int64
N3WEAPON    705 non-null int64
N4CHOKE     705 non-null int64
N5SEX       705 non-null int64
N6CONTRL    705 non-null int64
N8JEALUS    705 non-null int64
N10CPBLE    705 non-null int64
dtypes: int64(44)
memory usage: 247.9 KB
INFORMATION
VALUE COUNTS

CASEID:
(107594.39, 188455.9]    161
(188455.9, 268516.8]       8
(268516.8, 348577.7]     290
(348577.7, 428638.6]      11
(428638.6, 508699.5]      75
(508699.5, 588760.4]       5
(588760.4, 668821.3]      55
(668821.3, 748882.2]      75
(748882.2, 828943.1]      21
(828943.1, 909004.0]       4
Name: CASEID, dtype: int64


ABUSED:
1    497
2    208
Name: ABUSED, dtype: int64


SCRSTATR:
1      455
2      118
3      115
999     17
Name: SCRSTATR, dtype: int64


LENGTHC1:
1    159
2    153
5    147
4    105
3     83
6     58
Name: LENGTHC1, dtype: int64


C1SITUAT:
1    395
9    208
3     74
2     18
4     10
Name: C1SITUAT, dtype: int64


PABUSE:
1    464
9    208
2     27
3      6
Name: PABUSE, dtype: int64


D3RCHILT:
(-1.0, 99.9]      701
(99.9, 199.8]       0
(199.8, 299.7]      0
(299.7, 399.6]      0
(399.6, 499.5]      0
(499.5, 599.4]      1
(599.4, 699.3]      1
(699.3, 799.2]      0
(799.2, 899.1]      0
(899.1, 999.0]      2
Name: D3RCHILT, dtype: int64


E13PRGNT:
3      492
2      127
1       74
888      9
999      3
Name: E13PRGNT, dtype: int64


N7PREGNT:
2      303
9      208
1      130
3       52
999      7
777      5
Name: N7PREGNT, dtype: int64


TOTSUPRT:
(-1.0, 99.9]      703
(99.9, 199.8]       0
(199.8, 299.7]      0
(299.7, 399.6]      0
(399.6, 499.5]      0
(499.5, 599.4]      0
(599.4, 699.3]      0
(699.3, 799.2]      0
(799.2, 899.1]      0
(899.1, 999.0]      2
Name: TOTSUPRT, dtype: int64


G1NUMBER:
9999    654
1        22
999      16
2         6
888       3
3         2
15        1
7         1
Name: G1NUMBER, dtype: int64


H1JEALUS:
1      487
2      214
999      3
4        1
Name: H1JEALUS, dtype: int64


H2LIMIT:
2      365
1      336
999      3
4        1
Name: H2LIMIT, dtype: int64


H3KNOWNG:
1      462
2      238
999      4
4        1
Name: H3KNOWNG, dtype: int64


J1HIT:
1      374
2      325
999      4
666      1
4        1
Name: J1HIT, dtype: int64


J2THROWN:
2      464
1      235
999      4
666      1
4        1
Name: J2THROWN, dtype: int64


J3PUSH:
1      436
2      263
999      4
666      1
4        1
Name: J3PUSH, dtype: int64


J4SLAP:
2      371
1      327
999      5
666      1
4        1
Name: J4SLAP, dtype: int64


J5KICK:
2      419
1      280
999      4
888      1
666      1
Name: J5KICK, dtype: int64


J6OBJECT:
2      522
1      177
999      4
666      1
4        1
Name: J6OBJECT, dtype: int64


J7BEAT:
2      478
1      221
999      4
666      1
4        1
Name: J7BEAT, dtype: int64


J8CHOKE:
2      468
1      232
999      4
666      1
Name: J8CHOKE, dtype: int64


J9KNIFE:
2      588
1      112
999      4
666      1
Name: J9KNIFE, dtype: int64


J10GUN:
2      631
1       69
999      4
666      1
Name: J10GUN, dtype: int64


J11SEX:
2      525
1      174
999      4
666      1
4        1
Name: J11SEX, dtype: int64


POWER:
5      175
0      120
4      116
3      107
1      101
2       83
999      3
Name: POWER, dtype: int64


HARASS:
(-0.018000000000000002, 1.7]    246
(1.7, 3.4]                      129
(3.4, 5.1]                      103
(5.1, 6.8]                       55
(6.8, 8.5]                       67
(8.5, 10.2]                      47
(10.2, 11.9]                     13
(11.9, 13.6]                     29
(13.6, 15.3]                     12
(15.3, 17.0]                      4
Name: HARASS, dtype: int64


B1AGE:
(17.95, 22.9]    170
(22.9, 27.8]     114
(27.8, 32.7]     117
(32.7, 37.6]     116
(37.6, 42.5]     101
(42.5, 47.4]      44
(47.4, 52.3]      28
(52.3, 57.2]      11
(57.2, 62.1]       2
(62.1, 67.0]       2
Name: B1AGE, dtype: int64


AGEDISP:
1      399
4      143
5       81
2       41
3       17
6       15
999      9
Name: AGEDISP, dtype: int64


STDETAI:
2      337
5      173
1      171
3       14
999      3
4        3
7        2
6        2
Name: STDETAI, dtype: int64


SAMESEXR:
9999    686
1        19
Name: SAMESEXR, dtype: int64


N11DRUGS:
2      480
1      200
888     15
999     10
Name: N11DRUGS, dtype: int64


N12ALCHL:
2      409
1      285
999      8
888      3
Name: N12ALCHL, dtype: int64


N13SUHIM:
2      554
1      129
888     13
999      9
Name: N13SUHIM, dtype: int64


N16CHILD:
2      643
1       30
888     24
999      8
Name: N16CHILD, dtype: int64


N17ARRST:
1      375
2      291
888     31
999      8
Name: N17ARRST, dtype: int64


N1FRQNCY:
2      304
3      208
1      185
999      7
888      1
Name: N1FRQNCY, dtype: int64


N2SVRITY:
2      300
3      208
1      189
999      7
888      1
Name: N2SVRITY, dtype: int64


N3WEAPON:
2       306
3       204
1       185
999       9
9999      1
Name: N3WEAPON, dtype: int64


N4CHOKE:
1       275
2       217
3       204
999       8
9999      1
Name: N4CHOKE, dtype: int64


N5SEX:
2       274
1       217
3       204
999       8
888       1
9999      1
Name: N5SEX, dtype: int64


N6CONTRL:
1      302
3      204
2      190
999      9
Name: N6CONTRL, dtype: int64


N8JEALUS:
1      301
3      204
2      189
999      9
888      2
Name: N8JEALUS, dtype: int64


N10CPBLE:
1       259
2       210
3       204
888      23
999       8
9999      1
Name: N10CPBLE, dtype: int64

In [21]:
summarize_data(dfb)

HEAD
   CASEID  M5FIRED  M11HIGH  M35SAFE  M41ILLGL  M42DAGRR  M13TALKR  M32OTHER  \
0  108395     9999        2        1         2         0         1        99
1  108397     9999        2        1         2         0         1        99
2  108399     9999        2        1         2         0         1        99
3  108443     9999        2        1         2         0         1        13
4  108444     9999        1        1         2         0         1        99

   M27HOW  M30ARRES    ...     FORCEDR  MISCARR  RESTRAIN  CHOKED  NDRUNK  \
0   99999         3    ...           0        0         0       0       0
1   99999         3    ...           0        0         0       1       2
2   99999         3    ...           0        0         1       1       0
3   99999         3    ...           0        0         0       1       1
4   99999         3    ...           0        0         0       0       3

   RDRUNK  BOTHDRUN  NDRUGS  RDRUGS  BOTHDRUG
0       0         0       0       0         0
1       0         0       0       0         0
2       0         0       0       0         0
3       0         0       0       0         0
4       0         0       0       0         0

[5 rows x 29 columns]

TAIL
     CASEID  M5FIRED  M11HIGH  M35SAFE  M41ILLGL  M42DAGRR  M13TALKR  \
492  808678     9999        2        1         2         0         2
493  808695     9999        1        1         2         1         1
494  808696     9999        1        1         2         1         1
495  908001      999      999      999       999       999       999
496  908003      999      999      999       999       999       999

     M32OTHER  M27HOW  M30ARRES    ...     FORCEDR  MISCARR  RESTRAIN  CHOKED  \
492        99   99999         2    ...           0        0         0       0
493        16   99999         1    ...           4        0         1      99
494        18   99999         3    ...           0        0         0      99
495        99    9999       999    ...         999      999       999     999
496        99    9999       999    ...         999      999       999     999

     NDRUNK  RDRUNK  BOTHDRUN  NDRUGS  RDRUGS  BOTHDRUG
492       0       0         0       0       0         0
493       0       0         0      28       0         0
494       0       0         0       0       0         0
495     999     999       999     999     999       999
496     999     999       999     999     999       999

[5 rows x 29 columns]

SHAPE: (497, 29)

DESCRIPTION
              CASEID      M5FIRED     M11HIGH     M35SAFE    M41ILLGL  \
count     497.000000   497.000000  497.000000  497.000000  497.000000
mean   387964.422535  8936.913481   15.392354   19.267606   19.881288
std    197319.742270  3077.792007  114.044050  133.185850  133.102374
min    108395.000000     1.000000    1.000000    1.000000    1.000000
25%    308037.000000  9999.000000    2.000000    1.000000    2.000000
50%    308498.000000  9999.000000    2.000000    1.000000    2.000000
75%    508541.000000  9999.000000    2.000000    1.000000    2.000000
max    908003.000000  9999.000000  999.000000  999.000000  999.000000

         M42DAGRR    M13TALKR    M32OTHER        M27HOW    M30ARRES  \
count  497.000000  497.000000  497.000000    497.000000  497.000000
mean    16.581489   11.321932   67.959759  86853.790744   14.199195
std    125.784706   99.668892   38.969415  33366.834308  108.979479
min      0.000000    1.000000   11.000000     11.000000    0.000000
25%      0.000000    1.000000   19.000000  99999.000000    1.000000
50%      1.000000    1.000000   99.000000  99999.000000    3.000000
75%      1.000000    2.000000   99.000000  99999.000000    3.000000
max    999.000000  999.000000   99.000000  99999.000000  999.000000

          ...         FORCEDR     MISCARR    RESTRAIN      CHOKED      NDRUNK  \
count     ...      497.000000  497.000000  497.000000  497.000000  497.000000
mean      ...        8.519115    8.064386    8.261569   32.092555   12.044266
std       ...       89.313737   89.349057   89.341769   96.890920   89.940740
min       ...        0.000000    0.000000    0.000000    0.000000    0.000000
25%       ...        0.000000    0.000000    0.000000    0.000000    0.000000
50%       ...        0.000000    0.000000    0.000000    0.000000    0.000000
75%       ...        0.000000    0.000000    0.000000    6.000000    2.000000
max       ...      999.000000  999.000000  999.000000  999.000000  999.000000

          RDRUNK    BOTHDRUN      NDRUGS      RDRUGS    BOTHDRUG
count  497.00000  497.000000  497.000000  497.000000  497.000000
mean     8.60161    8.456740   10.219316    8.764588    8.525151
std     89.33316   89.334517   89.678223   89.351827   89.342535
min      0.00000    0.000000    0.000000    0.000000    0.000000
25%      0.00000    0.000000    0.000000    0.000000    0.000000
50%      0.00000    0.000000    0.000000    0.000000    0.000000
75%      0.00000    0.000000    1.000000    0.000000    0.000000
max    999.00000  999.000000  999.000000  999.000000  999.000000

[8 rows x 29 columns]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 497 entries, 0 to 496
Data columns (total 29 columns):
CASEID      497 non-null int64
M5FIRED     497 non-null int64
M11HIGH     497 non-null int64
M35SAFE     497 non-null int64
M41ILLGL    497 non-null int64
M42DAGRR    497 non-null int64
M13TALKR    497 non-null int64
M32OTHER    497 non-null int64
M27HOW      497 non-null int64
M30ARRES    497 non-null int64
M31HOW      497 non-null int64
M38ORDER    497 non-null int64
SEVERER     497 non-null int64
TOTINCR     497 non-null int64
THREATR     497 non-null int64
SLAPR       497 non-null int64
PUNCHR      497 non-null int64
BEATR       497 non-null int64
UWEAPON     497 non-null int64
FORCEDR     497 non-null int64
MISCARR     497 non-null int64
RESTRAIN    497 non-null int64
CHOKED      497 non-null int64
NDRUNK      497 non-null int64
RDRUNK      497 non-null int64
BOTHDRUN    497 non-null int64
NDRUGS      497 non-null int64
RDRUGS      497 non-null int64
BOTHDRUG    497 non-null int64
dtypes: int64(29)
memory usage: 116.5 KB
INFORMATION
VALUE COUNTS

CASEID:
(107595.391, 188355.8]    107
(188355.8, 268316.6]        5
(268316.6, 348277.4]      200
(348277.4, 428238.2]        7
(428238.2, 508199.0]       16
(508199.0, 588159.8]       59
(588159.8, 668120.6]       29
(668120.6, 748081.4]       55
(748081.4, 828042.2]       17
(828042.2, 908003.0]        2
Name: CASEID, dtype: int64


M5FIRED:
9999    444
2        41
1        10
999       2
Name: M5FIRED, dtype: int64


M11HIGH:
2      389
1      101
999      5
888      2
Name: M11HIGH, dtype: int64


M35SAFE:
1      391
2       97
999      9
Name: M35SAFE, dtype: int64


M41ILLGL:
2      402
1       86
999      9
Name: M41ILLGL, dtype: int64


M42DAGRR:
1      249
0      240
999      8
Name: M42DAGRR, dtype: int64


M13TALKR:
1      352
2      140
999      5
Name: M13TALKR, dtype: int64


M32OTHER:
(10.911000000000001, 19.8]    125
(19.8, 28.6]                   20
(28.6, 37.4]                   17
(37.4, 46.2]                   36
(46.2, 55.0]                    0
(55.0, 63.8]                    0
(63.8, 72.6]                    0
(72.6, 81.4]                    0
(81.4, 90.2]                    0
(90.2, 99.0]                  299
Name: M32OTHER, dtype: int64


M27HOW:
(-88.989, 10009.8]     67
(10009.8, 20008.6]      0
(20008.6, 30007.4]      0
(30007.4, 40006.2]      0
(40006.2, 50005.0]      0
(50005.0, 60003.8]      0
(60003.8, 70002.6]      0
(70002.6, 80001.4]      0
(80001.4, 90000.2]      0
(90000.2, 99999.0]    430
Name: M27HOW, dtype: int64


M30ARRES:
3      304
1       83
0       70
2       34
999      6
Name: M30ARRES, dtype: int64


M31HOW:
(0.001, 100.8]    116
(100.8, 200.6]      0
(200.6, 300.4]      0
(300.4, 400.2]      0
(400.2, 500.0]      0
(500.0, 599.8]      0
(599.8, 699.6]      0
(699.6, 799.4]    363
(799.4, 899.2]      0
(899.2, 999.0]     18
Name: M31HOW, dtype: int64


M38ORDER:
3       427
2        39
1        24
999       6
9999      1
Name: M38ORDER, dtype: int64


SEVERER:
1    255
2    238
9      4
Name: SEVERER, dtype: int64


TOTINCR:
2      167
1      143
4      109
3       74
999      4
Name: TOTINCR, dtype: int64


THREATR:
0      388
1       45
4       22
3       19
2       19
999      4
Name: THREATR, dtype: int64


SLAPR:
0      215
1      123
2       79
3       40
4       36
999      4
Name: SLAPR, dtype: int64


PUNCHR:
0      255
1      116
2       74
3       28
4       20
999      4
Name: PUNCHR, dtype: int64


BEATR:
0      316
1      116
2       45
3       11
4        5
999      4
Name: BEATR, dtype: int64


UWEAPON:
0      432
1       49
2        9
999      4
3        2
8        1
Name: UWEAPON, dtype: int64


FORCEDR:
0      374
1       57
2       25
4       20
3       17
999      4
Name: FORCEDR, dtype: int64


MISCARR:
0      481
1       12
999      4
Name: MISCARR, dtype: int64


RESTRAIN:
0      436
1       49
999      4
3        3
2        2
23       1
17       1
8        1
Name: RESTRAIN, dtype: int64


CHOKED:
0      314
99     120
1       49
2        8
999      4
6        1
3        1
Name: CHOKED, dtype: int64


NDRUNK:
(-1.0, 99.9]      492
(99.9, 199.8]       1
(199.8, 299.7]      0
(299.7, 399.6]      0
(399.6, 499.5]      0
(499.5, 599.4]      0
(599.4, 699.3]      0
(699.3, 799.2]      0
(799.2, 899.1]      0
(899.1, 999.0]      4
Name: NDRUNK, dtype: int64


RDRUNK:
(-1.0, 99.9]      493
(99.9, 199.8]       0
(199.8, 299.7]      0
(299.7, 399.6]      0
(399.6, 499.5]      0
(499.5, 599.4]      0
(599.4, 699.3]      0
(699.3, 799.2]      0
(799.2, 899.1]      0
(899.1, 999.0]      4
Name: RDRUNK, dtype: int64


BOTHDRUN:
(-1.0, 99.9]      493
(99.9, 199.8]       0
(199.8, 299.7]      0
(299.7, 399.6]      0
(399.6, 499.5]      0
(499.5, 599.4]      0
(599.4, 699.3]      0
(699.3, 799.2]      0
(799.2, 899.1]      0
(899.1, 999.0]      4
Name: BOTHDRUN, dtype: int64


NDRUGS:
(-1.0, 99.9]      492
(99.9, 199.8]       1
(199.8, 299.7]      0
(299.7, 399.6]      0
(399.6, 499.5]      0
(499.5, 599.4]      0
(599.4, 699.3]      0
(699.3, 799.2]      0
(799.2, 899.1]      0
(899.1, 999.0]      4
Name: NDRUGS, dtype: int64


RDRUGS:
(-1.0, 99.9]      493
(99.9, 199.8]       0
(199.8, 299.7]      0
(299.7, 399.6]      0
(399.6, 499.5]      0
(499.5, 599.4]      0
(599.4, 699.3]      0
(699.3, 799.2]      0
(799.2, 899.1]      0
(899.1, 999.0]      4
Name: RDRUGS, dtype: int64


BOTHDRUG:
(-1.0, 99.9]      493
(99.9, 199.8]       0
(199.8, 299.7]      0
(299.7, 399.6]      0
(399.6, 499.5]      0
(499.5, 599.4]      0
(599.4, 699.3]      0
(699.3, 799.2]      0
(799.2, 899.1]      0
(899.1, 999.0]      4
Name: BOTHDRUG, dtype: int64

In [22]:
def make_repeat_series(df10):
    '''takes a dataframe with a caseid columns and returns a series with offense numbers using a groupby'''
    repeat_series = df10.groupby('CASEID').INCIDENT.count()
    return repeat_series

def over_1(repeat_series):
    '''takes a pandas series and tests for a value to put in a list of caseIDs that are repeat offenses'''
    repeat_cases = []
    for case, inc_num in enumerate(repeat_series):
        if inc_num > 1:
            repeat_cases.append(repeat_series.index[case])
    return repeat_cases

def get_repeat_case(val):
    '''takes a value and establishes if it meets criteria to be in repeat offenses'''
    repeat_cases = over_1(make_repeat_series(df10))
    if val in repeat_cases:
        return 1
    else:
        return 0

dfa['RECID'] = dfb.CASEID.apply(get_repeat_case)

In [25]:
dfa.head()

,CASEID,ABUSED,SCRSTATR,LENGTHC1,C1SITUAT,PABUSE,D3RCHILT,E13PRGNT,N7PREGNT,TOTSUPRT,...,N17ARRST,N1FRQNCY,N2SVRITY,N3WEAPON,N4CHOKE,N5SEX,N6CONTRL,N8JEALUS,N10CPBLE,RECID
0,108395,1,1,1,1,1,1,3,2,9,...,2,2,2,2,2,2,2,2,2,0.0
1,108397,1,1,2,1,1,0,3,3,11,...,1,2,1,1,1,1,2,1,1,1.0
2,108399,1,1,5,1,1,6,3,2,9,...,2,2,2,2,1,2,2,2,2,1.0
3,108443,1,1,2,1,1,0,1,2,12,...,1,2,2,1,1,2,1,2,2,0.0
4,108444,1,1,2,1,1,1,2,2,11,...,1,1,1,2,2,2,2,2,2,1.0

In [26]:
dfb.head()

,CASEID,M5FIRED,M11HIGH,M35SAFE,M41ILLGL,M42DAGRR,M13TALKR,M32OTHER,M27HOW,M30ARRES,...,FORCEDR,MISCARR,RESTRAIN,CHOKED,NDRUNK,RDRUNK,BOTHDRUN,NDRUGS,RDRUGS,BOTHDRUG
0,108395,9999,2,1,2,0,1,99,99999,3,...,0,0,0,0,0,0,0,0,0,0
1,108397,9999,2,1,2,0,1,99,99999,3,...,0,0,0,1,2,0,0,0,0,0
2,108399,9999,2,1,2,0,1,99,99999,3,...,0,0,1,1,0,0,0,0,0,0
3,108443,9999,2,1,2,0,1,13,99999,3,...,0,0,0,1,1,0,0,0,0,0
4,108444,9999,1,1,2,0,1,99,99999,3,...,0,0,0,0,3,0,0,0,0,0

In [27]:
# look at unaltered value counts
prepare.value_counts(dfa)

CASEID

-------------------------------------------------------------

ABUSED
1    497
2    208
Name: ABUSED, dtype: int64

-------------------------------------------------------------

SCRSTATR
1      455
2      118
3      115
999     17
Name: SCRSTATR, dtype: int64

-------------------------------------------------------------

LENGTHC1
1    159
2    153
3     83
4    105
5    147
6     58
Name: LENGTHC1, dtype: int64

-------------------------------------------------------------

C1SITUAT
1    395
2     18
3     74
4     10
9    208
Name: C1SITUAT, dtype: int64

-------------------------------------------------------------

PABUSE
1    464
2     27
3      6
9    208
Name: PABUSE, dtype: int64

-------------------------------------------------------------

D3RCHILT
0      339
1      136
2      113
3       57
4       32
5        9
6        9
7        5
12       1
555      1
666      1
999      2
Name: D3RCHILT, dtype: int64

-------------------------------------------------------------

E13PRGNT
1       74
2      127
3      492
888      9
999      3
Name: E13PRGNT, dtype: int64

-------------------------------------------------------------

N7PREGNT
1      130
2      303
3       52
9      208
777      5
999      7
Name: N7PREGNT, dtype: int64

-------------------------------------------------------------

TOTSUPRT
0        9
1       10
2       16
3       27
4       20
5       28
6       35
7       47
8       57
9       68
10      98
11     134
12     154
999      2
Name: TOTSUPRT, dtype: int64

-------------------------------------------------------------

G1NUMBER
1        22
2         6
3         2
7         1
15        1
9999    654
888       3
999      16
Name: G1NUMBER, dtype: int64

-------------------------------------------------------------

H1JEALUS
1      487
2      214
4        1
999      3
Name: H1JEALUS, dtype: int64

-------------------------------------------------------------

H2LIMIT
1      336
2      365
4        1
999      3
Name: H2LIMIT, dtype: int64

-------------------------------------------------------------

H3KNOWNG
1      462
2      238
4        1
999      4
Name: H3KNOWNG, dtype: int64

-------------------------------------------------------------

J1HIT
1      374
2      325
4        1
666      1
999      4
Name: J1HIT, dtype: int64

-------------------------------------------------------------

J2THROWN
1      235
2      464
4        1
666      1
999      4
Name: J2THROWN, dtype: int64

-------------------------------------------------------------

J3PUSH
1      436
2      263
4        1
666      1
999      4
Name: J3PUSH, dtype: int64

-------------------------------------------------------------

J4SLAP
1      327
2      371
4        1
666      1
999      5
Name: J4SLAP, dtype: int64

-------------------------------------------------------------

J5KICK
1      280
2      419
666      1
888      1
999      4
Name: J5KICK, dtype: int64

-------------------------------------------------------------

J6OBJECT
1      177
2      522
4        1
666      1
999      4
Name: J6OBJECT, dtype: int64

-------------------------------------------------------------

J7BEAT
1      221
2      478
4        1
666      1
999      4
Name: J7BEAT, dtype: int64

-------------------------------------------------------------

J8CHOKE
1      232
2      468
666      1
999      4
Name: J8CHOKE, dtype: int64

-------------------------------------------------------------

J9KNIFE
1      112
2      588
666      1
999      4
Name: J9KNIFE, dtype: int64

-------------------------------------------------------------

J10GUN
1       69
2      631
666      1
999      4
Name: J10GUN, dtype: int64

-------------------------------------------------------------

J11SEX
1      174
2      525
4        1
666      1
999      4
Name: J11SEX, dtype: int64

-------------------------------------------------------------

POWER
0      120
1      101
2       83
3      107
4      116
5      175
999      3
Name: POWER, dtype: int64

-------------------------------------------------------------

HARASS
0     156
1      90
2      66
3      63
4      43
5      60
6      55
7      38
8      29
9      21
10     26
11     13
12     16
13     13
14      9
15      3
16      1
17      3
Name: HARASS, dtype: int64

-------------------------------------------------------------

B1AGE
(17.95, 22.9]    170
(22.9, 27.8]     114
(27.8, 32.7]     117
(32.7, 37.6]     116
(37.6, 42.5]     101
(42.5, 47.4]      44
(47.4, 52.3]      28
(52.3, 57.2]      11
(57.2, 62.1]       2
(62.1, 67.0]       2
Name: B1AGE, dtype: int64

-------------------------------------------------------------

AGEDISP
1      399
2       41
3       17
4      143
5       81
6       15
999      9
Name: AGEDISP, dtype: int64

-------------------------------------------------------------

STDETAI
1      171
2      337
3       14
4        3
5      173
6        2
7        2
999      3
Name: STDETAI, dtype: int64

-------------------------------------------------------------

SAMESEXR
1        19
9999    686
Name: SAMESEXR, dtype: int64

-------------------------------------------------------------

N11DRUGS
1      200
2      480
888     15
999     10
Name: N11DRUGS, dtype: int64

-------------------------------------------------------------

N12ALCHL
1      285
2      409
888      3
999      8
Name: N12ALCHL, dtype: int64

-------------------------------------------------------------

N13SUHIM
1      129
2      554
888     13
999      9
Name: N13SUHIM, dtype: int64

-------------------------------------------------------------

N16CHILD
1       30
2      643
888     24
999      8
Name: N16CHILD, dtype: int64

-------------------------------------------------------------

N17ARRST
1      375
2      291
888     31
999      8
Name: N17ARRST, dtype: int64

-------------------------------------------------------------

N1FRQNCY
1      185
2      304
3      208
888      1
999      7
Name: N1FRQNCY, dtype: int64

-------------------------------------------------------------

N2SVRITY
1      189
2      300
3      208
888      1
999      7
Name: N2SVRITY, dtype: int64

-------------------------------------------------------------

N3WEAPON
1       185
2       306
3       204
9999      1
999       9
Name: N3WEAPON, dtype: int64

-------------------------------------------------------------

N4CHOKE
1       275
2       217
3       204
9999      1
999       8
Name: N4CHOKE, dtype: int64

-------------------------------------------------------------

N5SEX
1       217
2       274
3       204
9999      1
888       1
999       8
Name: N5SEX, dtype: int64

-------------------------------------------------------------

N6CONTRL
1      302
2      190
3      204
999      9
Name: N6CONTRL, dtype: int64

-------------------------------------------------------------

N8JEALUS
1      301
2      189
3      204
888      2
999      9
Name: N8JEALUS, dtype: int64

-------------------------------------------------------------

N10CPBLE
1       259
2       210
3       204
9999      1
888      23
999       8
Name: N10CPBLE, dtype: int64

-------------------------------------------------------------

RECID
0.0    147
1.0    350
Name: RECID, dtype: int64

-------------------------------------------------------------

In [28]:
# change dfa to df to match conventions of prepare.py
df = dfa
#use prepare function to rename features 
prepare.rename_columns(df)
dfa = df

In [29]:
dfa.head()

,id,abuse_past_year,abuse_status,length_relationship,partner_abusive,num_abusers,num_children,pregnant,beaten_while_pregnant,support_score,...,partner_arrested,violence_increased,severity_increased,weapon_ever,choked_ever,rape_ever,controlled_ever,jealous,capable_murder,reassault
0,108395,1,1,1,1,1,1,3,2,9,...,2,2,2,2,2,2,2,2,2,0.0
1,108397,1,1,2,1,1,0,3,3,11,...,1,2,1,1,1,1,2,1,1,1.0
2,108399,1,1,5,1,1,6,3,2,9,...,2,2,2,2,1,2,2,2,2,1.0
3,108443,1,1,2,1,1,0,1,2,12,...,1,2,2,1,1,2,1,2,2,0.0
4,108444,1,1,2,1,1,1,2,2,11,...,1,1,1,2,2,2,2,2,2,1.0

In [30]:
dfb.head()

,CASEID,M5FIRED,M11HIGH,M35SAFE,M41ILLGL,M42DAGRR,M13TALKR,M32OTHER,M27HOW,M30ARRES,...,FORCEDR,MISCARR,RESTRAIN,CHOKED,NDRUNK,RDRUNK,BOTHDRUN,NDRUGS,RDRUGS,BOTHDRUG
0,108395,9999,2,1,2,0,1,99,99999,3,...,0,0,0,0,0,0,0,0,0,0
1,108397,9999,2,1,2,0,1,99,99999,3,...,0,0,0,1,2,0,0,0,0,0
2,108399,9999,2,1,2,0,1,99,99999,3,...,0,0,1,1,0,0,0,0,0,0
3,108443,9999,2,1,2,0,1,13,99999,3,...,0,0,0,1,1,0,0,0,0,0
4,108444,9999,1,1,2,0,1,99,99999,3,...,0,0,0,0,3,0,0,0,0,0

In [32]:
# run function to replace nonvalues and change values to conventionally boolean archetypes
prepare.replace_nonvals(dfa)

In [33]:
dfa.head()

,id,abuse_past_year,abuse_status,length_relationship,partner_abusive,num_abusers,num_children,pregnant,beaten_while_pregnant,support_score,...,partner_arrested,violence_increased,severity_increased,weapon_ever,choked_ever,rape_ever,controlled_ever,jealous,capable_murder,reassault
0,108395,1,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
1,108397,1,1,2,1,1,0,0,0,11,...,1,0,1,1,1,1,0,1,1,1.0
2,108399,1,1,5,1,1,2,0,0,0,...,0,0,0,0,1,0,0,0,0,1.0
3,108443,1,1,2,1,1,0,1,0,12,...,1,0,0,1,1,0,1,0,0,0.0
4,108444,1,1,2,1,1,1,0,0,11,...,1,1,1,0,0,0,0,0,0,1.0

In [34]:
dfb.head()

,CASEID,M5FIRED,M11HIGH,M35SAFE,M41ILLGL,M42DAGRR,M13TALKR,M32OTHER,M27HOW,M30ARRES,...,FORCEDR,MISCARR,RESTRAIN,CHOKED,NDRUNK,RDRUNK,BOTHDRUN,NDRUGS,RDRUGS,BOTHDRUG
0,108395,9999,2,1,2,0,1,99,99999,3,...,0,0,0,0,0,0,0,0,0,0
1,108397,9999,2,1,2,0,1,99,99999,3,...,0,0,0,1,2,0,0,0,0,0
2,108399,9999,2,1,2,0,1,99,99999,3,...,0,0,1,1,0,0,0,0,0,0
3,108443,9999,2,1,2,0,1,13,99999,3,...,0,0,0,1,1,0,0,0,0,0
4,108444,9999,1,1,2,0,1,99,99999,3,...,0,0,0,0,3,0,0,0,0,0

# EXPLORATION